
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #000;
    overflow: hidden;
    background-image: url("../../Hero-4/Assets/Img/LUMPY-SPACE.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    box-sizing: border-box;
    color: white;
}

.header nav ul {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.header nav ul li {
    margin: 0 10px;
}

.header nav ul a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header nav ul a:hover {
    background-color: cyan;
    color: black;
}


.HERO4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    padding-top: 50px;
}


.card {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    color: white;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
